<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <meta content="noindex, nofollow, noimageindex">
  <link rel="icon" type="image/png" href="https://github.com/LydiaLing/MyPostImage/blob/master/Js_Homework/lesson7.png?raw=true" sizes="32x32">
  <title>JS编程学习</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./public/style.css">
  <link rel="stylesheet" href="./public/bootstrap.min.css">
  <script src="./public/vue.min.js"></script>
  <script src="./public/bootstrap.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="#">
                <img alt="Brand" src="https://github.com/LydiaLing/MyPostImage/blob/master/Js_Homework/lesson7.png?raw=true">
              </a>
          <a class="navbar-brand" href="#">JS编程学习</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://js.xinshengdaxue.com/"><span class="glyphicon glyphicon-home">Home</a></li>
            <li><a href="https://github.com/LydiaLing/JSlearning"><span class="glyphicon glyphicon-globe">Source</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-paperclip">Support <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.w3school.com.cn/">W3C</a></li>
                <li><a href="https://developer.mozilla.org/zh-CN/docs/Web">MDN</a></li>
                <li><a href="http://www.runoob.com/js/js-tutorial.html">RUNOOB</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <div class="container" style="padding:0px">
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="col-md-8">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
               还记得第一天说的话吗？ <small>戳我两下</small><span class="glyphicon glyphicon-hand-down">
            </button>

        <div id="demo" class="collapse">
          <div class="words-pannel" v-for="item in wordsList">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object avatar" v-bind:src="item.avatar" alt="...">
               </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  {{ item.name }}
                </h4>
                {{ item.words }}
              </div>
            </div>
          </div>
        </div>
        <img src="https://github.com/LydiaLing/MyPostImage/blob/master/Js_Homework/lesson7_1.png?raw=true" class="img-responsive"
        alt="Cinque Terre" width="1800" height="900">
       

      </div>

      <div class="col-md-4">
        <button type="button" class="btn btn-primary">
              还有要对老师说的吗？
            </button>
        <div class="panel panel-default">

          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="name">名字</label>
                <input v-model="nameString" class="form-control" placeholder="请输入你的姓名">
              </div>
              <div class="form-group">
                <label for="account">新大账号</label>
                <input v-model="accountString" class="form-control" placeholder="请输入你的新大账号（注册手机号码或邮箱）">
              </div>
              <div class="form-group">
                <label for="content">想说的话</label>
                <input v-model="contentString" class="form-control" placeholder="请输入你想对徐老师说的话">
              </div>
              <div class="btn btn-primary" v-on:click="sendData">提交发送</div>
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="container" style="padding:0px">
      <br>
      <br>
      <br>
      <br>
      <br>
     
      <div class="col-md-8">
          <button type="button" class="btn btn-primary">
              徐高阳老师的JS入门课程
            </button>
        <div class="panel" id="accordion">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          <i class="fa fa-github"></i> Git & GITHUB
                          </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body" v-for="item in gitList">
                  <a v-bind:href="item.url">
                          <i class="fa fa-github"></i>&nbsp{{ item.title }} </a>
                </div>
              </div>    
  </div>
  <div class="panel panel-success">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
               PPT
              </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body" v-for="item in pptList">
          <a v-bind:href="item.url">
              &nbsp{{ item.title }} </a>
        </div>
      </div>
    </div>
  <div class="panel panel-info">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              技术文档
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body" v-for="item in topicsList">
          <a v-bind:href="item.url">
              &nbsp{{ item.title }} </a>
        </div>
      </div>
    </div>

</div>
</div>
<div class="col-md-4">
    <button type="button" class="btn btn-primary">
      我们的作业和作品
      </button>
      <div class="panel panel-warning">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                  作业
              </a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body" v-for="item in homeworkList">
              <a v-bind:href="item.url">
                  &nbsp{{ item.title }} </a>
                  同学们自己找吧~~
            </div>
          </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                    作品
                </a>
              </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">
                <a href="https://babysodme.github.io/homework_lesson7/"> 大宝团队</a><br>
                <a href="https://richardweiyang.github.io/js_course.html"> 杨伟团队</a><br>
                <a href="https://dream4ever.github.io/JavaScript/"> 何伟团队</a><br>
                <a href="https://simsalyang.github.io/jsBlog/"> 杨学武团队</a><br>
                <a href="https://antarts.github.io/Study_Note/"> 吴魁拼团队</a><br>
                <a href="https://lydialing.github.io/JSlearning/"> 凌晓团队</a><br>
                
                   
              </div>
            </div>
          </div>

</div>
<div class="container" style="padding:0px">
    <div class="col-md-12">
<footer>
      <p style="text-align: center">永远年轻，永远热泪盈眶~</p>
  </footer>
</div>
</div>
</body>

</html>
<script>
  // vue官网： https://cn.vuejs.org/v2/guide/
  // 初始化Vue

  // 把收集的数据放在这里

  var myVue = new Vue({
    el: '#app',   // #app 和html中div#id的 app 对应
    data: {
      wordsList: [],
      nameString: '',
      accountString: '',
      contentString: '',
      gitList:[],
      homworkList:[]

      // 变量wordsList可以在html使用
    },
    methods: {
      sendData: function () {
        axios.post('https://js.xinshengdaxue.com/api/v1/learnJS/sayToMe', {
          name: myVue.nameString, // 拿到表单的name字段
          account: myVue.accountString, // 拿到表单的account字段
          content: myVue.contentString // 拿到表单的content字段
        })
          .then(function (response) {
            console.log(response);
            if (response.data.code === 1) {
              alert('成功发送');
            } else {
              alert('发送失败, 原因: ' + response.data.message);
            }
          })
          .catch(function (error) {
            console.log(error); // 
          });
      },
      fetchData: function(){
        axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/catelog')
        .then(function(response){
          myVue.gitList = response.data.catelog.gitTopicsList;
          myVue.topicsList = response.data.catelog.topicsList;
          myVue.pptList = response.data.catelog.pptList
        })
        .catch(function(error){
          console.log(error);
        });
      },
    }
  });
  var baseURL = 'https://js.xinshengdaxue.com/api/v1/learnJS/course/1/';
  axios.get(baseURL + 'words')
    .then(function (response) {
      if (response.data.code === 1) {
        myVue.wordsList = response.data.words;
      }
    })
    .catch(function (err) {
      console.log(err);
    });
    axios.get('https://js.xinshengdaxue.com/api/v1/learnJS/course/1/homework')
    .then(function (response) {
      if (response.data.code === 1) {
        myVue.homeworkList = response.data.homeworkInfo;
      }
    })
    .catch(function (err) {
      console.log(err);
    });
    myVue.fetchData();

</script>